.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.m-1 {
    margin: 5px;
}

.rounded {
    border-radius: 7px;
}

.p-1 {
    padding: 10px;
}

.svg-size {
    width: 15px;
}

.space-bw {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.space-ar {
    justify-content: space-around;
}

.gap {
    gap: 15px;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

/* Style for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
    /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
    background: #666666;
    /* Light thumb color */
    border-radius: 6px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888888;
    /* Slightly lighter color on hover */
}

.playbar-svg-size {
    width: 40px;
}